* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(photo_6060071165734535172_y.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
    background-repeat: no-repeat;
}

header img{
    width: 75px;
    height: 75px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo {
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    margin-left: 35px;
    transition: .3s;

}

.navbar a:hover{
    color: plum;
}

.video-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;
    gap: 40px;
}

.video-container {
    background-color: black;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 400px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: transform 0.2s, box-shadow 0.2s;
    margin-top: 150px;
}

.video-container:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background-color: #f0f0f0; /* Slight change in background on hover */
}

video {
    max-width: 100%;
    height: auto;
}

p {
    color: plum; /* Caption text color */
    font-weight: bold;
}

/* Mobile responsiveness */
@media (max-width: 600px) {
    .video-container {
        max-width: 90%;
    }
}

